@import url("https://fonts.googleapis.com/css2?family=Alef&family=Asul&family=Catamaran:wght@200&family=Montserrat:wght@100;400&family=Poppins:wght@100;200&family=Roboto&family=Smooch+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
    --main-color: linear-gradient(
      180deg,
      #17082a 0%,
      #17082a 0%,
      #301353 40.1%,
      #17082a 100%
    );
    --secondary-color: #ffffff;
    --third-color: #6644b8;
    --theme-switcher: #f6d003;
  }

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #17082a 0%,
    #17082a 0%,
    #301353 40.1%,
    #17082a 100%
  );
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER STYLE START*/
header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  display: none;
}

.ri-sun-fill {
  font-size: 1.5rem;
  color: var(--theme-switcher);
}

.ri-arrow-right-s-line {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}
/*HEADER STYLE END*/

/* SEARCH SECTION STYLE START */
form {
  width: 100%;
  padding: 0 2rem;
  margin-top: 1rem;
}

form i {
  position: absolute;
  font-size: 2rem;
  font-weight: 100;
  color: rgba(168, 168, 168, 1);
  padding-left: 1rem;
  padding-top: 0.25rem;
}

form input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  border: 0;
  border: 1px solid black;
  box-shadow: 0 0 10px 4px rgba(75, 57, 120, 0.6);
  padding-left: 4rem;
  color: var(--secondary-color);
}

form input::-webkit-input-placeholder {
  color: hsl(0, 0%, 85%);
  text-shadow: 0 0 5px black;
  font-family: "Alef", sans-serif;
}
/* SEARCH SECTION STYLE START */

/*MEDIA QUERY STYLE START*/