@import url("https://fonts.googleapis.com/css2?family=Alef&family=Catamaran:wght@200&family=Montserrat:wght@100;400&family=Poppins:wght@100;200&family=Roboto&family=Smooch+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --background-color: linear-gradient(to bottom, #17082a, #301353, #17082a);
  --main-color: #210c39;
  --secondary-color: #ffffff;
  --third-color: #6644b8;
  --theme-switcher: #f6d003;
}

.light {
  --background-color: #ffffff;
  --main-color: #0658d39d;
  --secondary-color: #333333;
  --third-color: #548ce0;
  --theme-switcher: #000000;
}


/* MAIN STYLE START */

main {
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* HEADER STYLE START */

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 1.7rem 0 0;
  margin-bottom: 2rem;
}

header i {
  font-size: 1.5rem;
  color: var(--theme-switcher);
}

header {
  padding: 1rem;
  margin-bottom: 2rem;
}
.title {
  margin-bottom: 2rem;
}
.title h1 {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-shadow: 0 2px 5px var(--fourth-color);
}

/* HEADER STYLE END */

/* FIGURE SECTION STYLE START */

.figure {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 40vh;
  margin-top: 2rem;
}

.figure img {
  width: 32rem;
}

.figure #music {
  transform: translateY(-10%);
}

.figure #music-loop {
  display: none;
}

.figure #game {
  transform: translateY(10%);
  margin-left: 5%;
}

/* ARROW SECTION STYLE START */

/* RIGHT ARROW DIV STYLE START */

.right-arrow {
  width: 40%;
  height: 60%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  transform: translate(50%, 55%);
  animation: animat-right 3s ease-in-out infinite;
}

.right-arrow .one {
  position: absolute;
  bottom: 25%;
  left: 20px;
  width: 80%;
  height: 150px;
  transform: skew(-30deg);
  border-top-left-radius: 20%;
  border-bottom-left-radius: 60%;
  background: linear-gradient(160deg, rgb(88 88 88 / 36%), transparent 60%);
}

.right-arrow .two {
  position: absolute;
  top: 25%;
  left: 20px;
  width: 80%;
  height: 150px;
  transform: skew(30deg);
  border-bottom-left-radius: 20%;
  border-top-left-radius: 60%;
  background: linear-gradient(10deg, rgb(88 88 88 / 36%) 0%, transparent 60%);
}
/* RIGHT ARROW DIV STYLE END */

/* LEFT ARROW DIV STYLE START */
.left-arrow {
  width: 40%;
  height: 60%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  transform: rotateZ(180deg) translate(50%, -55%);
  animation: animat-left 3s ease-in-out infinite;
}

.left-arrow .one {
  position: absolute;
  bottom: 25%;
  left: 20px;
  width: 80%;
  height: 150px;
  transform: skew(-30deg);
  border-top-left-radius: 20%;
  border-bottom-left-radius: 60%;
  background: linear-gradient(160deg, rgb(88 88 88 / 36%), transparent 60%);
}

.left-arrow .two {
  position: absolute;
  top: 25%;
  left: 20px;
  width: 80%;
  height: 150px;
  transform: skew(30deg);
  border-bottom-left-radius: 20%;
  border-top-left-radius: 60%;
  background: linear-gradient(10deg, rgb(88 88 88 / 36%) 0%, transparent 60%);
}

/* LEFT ARROW DIV STYLE END */
.left-arrow a,
.right-arrow a {
  text-decoration: none;
  color: var(--secondary-color);
}

.right-arrow i,
.left-arrow i {
  color: var(--secondary-color);
  font-size: 1.5rem;
  margin-left: 2rem;
}

/*BUTTON STYLE START*/

.btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  display: none;
}

.left-arr {
  padding: 1rem 2rem 1rem 1rem;
}

.right-arr {
    padding: 1rem 1rem 1rem 2rem;
}

.btn a {
  text-decoration: none;
  color: var(--secondary-color);
  box-shadow: inset 0px 0px 5px var(--secondary-color);
  background: rgba(75, 12, 126, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  height: 100%;
}

.btn a p {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.btn a i {
  font-size: 1.5rem;
}

.btn a i:nth-child(1) {
  margin-right: 2rem;
}
.btn a i:nth-child(2) {
  margin-left: 2rem;
}

.btn a:hover {
  background-color: var(--third-color);
  color: white;
}


/*BUTTON STYLE END*/

/* ANIMATION FOR ARROW DIV START */

@keyframes animat-left {
  0% {
    transform: rotateZ(180deg) translate(90%, -55%);
  }
  50% {
    transform: rotateZ(180deg) translate(70%, -55%);
  }
  100% {
    transform: rotateZ(180deg) translate(90%, -55%);
  }
}

@keyframes animat-right {
  0% {
    transform: translate(90%, 55%);
  }
  50% {
    transform: translate(70%, 55%);
  }
  100% {
    transform: translate(90%, 55%);
  }
}

/* ANIMATION FOR ARROW DIV START */

/* SECTION FIGURE STYLE IN MEDIUM SCREEN */
@media (min-width: 768px) and (max-width: 991px) {
  .figure img {
    width: 30rem;
  }

  .figure #music {
    transform: translateY(-10%);
    display: none;
  }

  .figure #music-loop {
    display: block;
    transform: translateY(10%);
    margin-right: 5%;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .btn {
    display: flex;
  }
}

/* SECTION FIGURE STYLE IN large SCREEN */
@media (min-width: 992px) and (max-width: 1199px) {
  .figure img {
    width: 32rem;
  }

  .figure #music {
    transform: translateY(-10%);
    display: none;
  }

  .figure #music-loop {
    display: block;
    transform: translateY(10%);
    margin-right: 5%;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .btn {
    display: flex;
  }
}

/* SECTION FIGURE STYLE IN large SCREEN */
@media (min-width: 1200px) {
  .figure img {
    width: 36rem;
  }

  .figure #music {
    transform: translateY(-10%);
    display: none;
  }

  .figure #music-loop {
    display: block;
    transform: translateY(10%);
    margin-right: 0%;
  }

  .figure #game {
    margin-left: 0%;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }
  
  .btn {
    display: flex;
  }
}
/* ARROW SECTION STYLE END */

/* FIGURE SECTION STYLE START */

/* FOOTER SECTION STYLE START */

.sub-title {
  padding: 1rem;
  margin-top: 4rem;
  width: 80%;
  text-align: center;
}

.sub-title h2 {
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: "Alef", sans-serif;
  letter-spacing: 0.5rem;
}

/* FOOTER SECTION STYLE END */

/* MAIN STYLE END */