* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* THE ROOT & LIGHT VARIABLE START */

:root {
    --background-color: linear-gradient(to bottom, #17082a, #301353, #17082a);
    --main-color: #210c39;
    --secondary-color: #ffffff;
    --third-color: #6644b8;
    --theme-switcher: #f6d003;
    --box-shadow: #4b397899;
  }
  
  .light {
    --background-color: #ffffff;
    --main-color: #0658d39d;
    --secondary-color: #333333;
    --third-color: #548ce0;
    --theme-switcher: #000000;
    --box-shadow: #2c71db;
  }
  
  /* THE ROOT & LIGHT VARIABLE END */

body {
  padding: 1rem;
  overflow-x: hidden;
}

header {
  display: flex;
  /*margin: 6%  2%;*/
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 1rem;
  left: 0;
}
.ri-sun-fill {
  color: var(--theme-switcher);
  font-size: 1.5rem;
}
.ri-arrow-right-s-line {
  color: white;
  font-size: 1.5rem;
}

main {
  display: flex;
  /*justify-content: left;*/
  flex-wrap: wrap;
  background: var(--background-color);
}

.game-img {
  display: flex;
  /* justify-content: flex-start; */
  transform: translateX(-185px);
  width: 100%;
  position: relative;
  height: 40vh;
}
img {
  position: absolute;
  top: 3rem;
  left: -1rem;
}

.game_description {
  display: flex;
  color: var(--secondary-color);
  font-size: 18px;
  font-family: Arial;
  /*margin-left: 40px;*/
  /*margin-top: 55px;*/
  width: 100%;
  flex-wrap: wrap;
  /*text-align: center;*/
}
.title {
  width: 100%;
  margin-top: 2rem;
}
.game-title {
  width: 100%;
  font-size: 38px;
  font-family: "Alef", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}
.game-subtitle {
  margin-bottom: 3rem;
  margin-left: 1rem;
  color: var(--secondary-color);
  opacity: 0.8;
  font-family: "Alef", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.description {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-family: "Alef", sans-serif;
}
.game-button {
  width: 50%;
}
.btn {
  background-color:var(--third-color);
  width: 295px;
  height: 56px;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: all 0.5s linear;
  margin-top: 5rem;
  margin-left: 1rem;
  font-family: Alef, sans-serif;
}
.btn :hover {
  text-decoration: underline;
  font-size: 22px;
}
a {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-y: hidden;
  }
  main {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-top: 8rem;
    padding-left: 3rem;
    
  }
  .game-img {
    width: 40%;
    transform: translateX(0);
  }
  img {
    left: -3rem;
  }
  .game_description {
    width: 50%;
    margin-top: 2rem;
    margin-left: 11rem;
  }
  .title {
    width: 50%;
  }
  .game-title {
    width: 50%;
    margin-bottom: 1rem;
  }
  .game-subtitle {
    font-size: 20px;
  }
  .description {
    width: 65%;
    margin-left: 0rem;
  }
  .btn {
    margin-top: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  main {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-top: 5rem;
  }
  .game-img {
    width: 40%;
    transform: translateX(0);
  }
  .game_description {
    width: 50%;
    margin-top: 2rem;
  }
  .title {
    width: 50%;
  }
  .game-title {
    width: 50%;
  }
  .game-subtitle {
    font-size: 20px;
  }
  .description {
    width: 55%;
    margin-left: 0rem;
  }
  .btn {
    margin-top: 3rem;
  }
}
@media (min-width: 1200px) {
  main {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-top: 5rem;
    padding-right: 10rem;
  }
  .game-img {
    width: 40%;
    transform: translateX(0);
  }

  img {
    margin-left: -4rem;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 70%;
    }
  }
  .game_description {
    width: 50%;
    margin-top: 4rem;
    /*width: 44%;*/
    margin-left: 10rem;
  }
  .title {
    width: 50%;
  }
  .game-title {
    width: 50%;
    margin-bottom: 1rem;
  }
  .game-subtitle {
    font-size: 20px;
    color: #dad9dd;
  }
  .description {
    width: 55%;
    margin-left: 0rem;
  }
  .btn {
    margin-top: 3rem;
  }
}
